<nav class="navbar-top navbar navbar-expand-md navbar-light py-3">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartop" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbartop">
		<div class="navbar-nav">
			<a class="nav-item nav-link px-4 nav-item-active" href="/admin">Início</a>
			<a class="nav-item nav-link px-4" href="#">Suporte</a>
			<a class="nav-item nav-link px-4" href="#">Documentação</a>
			<a class="nav-item nav-link px-4 a-logout" href="#">Sair</a>
		</div>
	</div>
</nav>
<div class="container-fluid p-md-5 mb-5 title">
	<div class="container">
		<div class="row">
			<div class="col-md-8 py-3 px-0">
				<h2><span class="title-focus">Mensagens</span> recebidas</h2>
			</div>
			<div class="col-md-4 d-flex justify-content-end pt-2 profile">
				<div class="p-2">
					<h5 class="m-0">{{user.username}}</h5>
					<a  class="float-right" href="/auth/logout">sair</a>
				</div>
				<div class="avatar"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mb-5">
		<div class="col">
			<form action="/admin/posts/add" method="POST">
				<div class="form-group">
					<label for="image">Imagem do Post</label>
					<input type="file" class="form-control-file" name="image" id="image">
					<small class="form-text text-muted">recomendado: 700 x 460 (px)</small>
				</div>
				<div class="form-group">
					<label for="thumb">Thumbnail do Post</label>
					<input type="file" class="form-control-file" name="thumbnail" id="thumb">
					<small class="form-text text-muted">recomendado: 200 x 200 (px)</small>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="title" placeholder="Titulo do Post">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="description" placeholder="Descrição do Post">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="content" placeholder="Escreva aqui o conteúdo do Post"></textarea>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="url" placeholder="Url do post">
					<small class="form-text text-muted">exemplo-simples-url-amigavel</small>
				</div>
				<button class="btn btn-primary" type="submit">Adicionar</button>			
			</form>
		</div>
	</div>

	<div class="row mb-5">
		{{#each post}}
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/img/thumbs/{{this.image}}">
					<div class="card-body">
						<h4 class="card-title">{{this.title}}</h4>
						<p class="card-text">{{this.description}}</p>
					</div>
					<div class="card-footer">
						<a href="/admin/delpost/{{this.id}}">Apagar</a>
					</div>
				</div>
			</div>
		{{else}}
			<h5>Nenhum post até agora</h5>
		{{/each}}
	</div>
	
</div>
